# Upload

In [113]:
# import libraries
import pandas as pd
import numpy as np
import os

In [114]:
df_test['mix'] = df_test['mix'].astype('str')

In [116]:
path = r'C:\Users\Oa\Career Foundry\Data'

In [117]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [119]:
df_prods = pd.read_csv(os.path.join(path, '4.3_orders_products', 'Original', 'products.csv'), index_col = False)

In [121]:
df_deps = pd.read_csv(os.path.join(path,'4.4_departments', 'Original', 'departments.csv'), index_col = False)

In [260]:
df_ords = pd.read_csv(os.path.join(path, '4.3_orders_products', 'Original', 'orders.csv'), usecols = vars_list)

In [179]:
df_ords_wrn = pd.read_csv(os.path.join(path,'4.4_departments', 'Prepared Data', 'Orders_Wrangled.csv'), index_col = False)

# Lesson

In [126]:
# create a dataframe

df_test = pd.DataFrame()

In [127]:
# create a mixed type column
df_test['mix'] = [ 'a', 'b', 1, True]

In [128]:
# check for mixed type

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

C:\Users\Oa\AppData\Local\Temp\ipykernel_31212\2369089505.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

mix

In [129]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [130]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [131]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [132]:
df_prods.shape

(49693, 5)

In [133]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [134]:
df_prods.dropna(subset = ['product_name'], inplace = True)

In [135]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [136]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [139]:
df_prods_clean.shape

(49677, 5)

In [140]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [141]:
df_prods_clean_no_dups.shape

(49672, 5)

# Exercise

## question 2

In [144]:
df_ords_wrn.describe()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [145]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## question 3

In [104]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

C:\Users\Oa\AppData\Local\Temp\ipykernel_31212\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oa\AppData\Local\Temp\ipykernel_31212\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oa\AppData\Local\Temp\ipykernel_31212\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oa\AppData\Local\Temp\ipykernel_31212\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oa\AppData\Local\Temp\ipykernel_31212\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oa\AppData\Local\Temp\ipykernel_31212\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

## question 4

In [153]:
#no mix types found

## question 5

In [262]:
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [181]:
df_ords_wrn.isnull().sum()

Unnamed: 0           0
order_id             0
user_id              0
order_number         0
order_day_of_week    0
order_hour_of_day    0
dtype: int64

## question 6

In [228]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111454e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,8.924952e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [258]:
df_orders_cleaned = df_ords['days_since_prior_order'].fillna(11.11, inplace=True) #way i was taught from the lesson plan didnt work

C:\Users\Oa\AppData\Local\Temp\ipykernel_31212\4033495685.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ords['days_since_prior_order'].fillna(11.11, inplace=True)

In [264]:
df_orders_cleaned = df_ords.copy()
df_orders_cleaned['days_since_prior_order'] = df_orders_cleaned['days_since_prior_order'].fillna(11.11) # worked

In [266]:
df_orders_cleaned

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,11.11
1,2398795,1,2,3,7,15.00
2,473747,1,3,3,12,21.00
3,2254736,1,4,4,7,29.00
4,431534,1,5,4,15,28.00
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.00
3421079,1854736,206209,11,4,10,30.00
3421080,626363,206209,12,1,12,18.00
3421081,2977660,206209,13,1,12,7.00
3421082,272231,206209,14,6,14,30.00

#### In the wrangled data I just removed the whole collumn but if I could of replaced days_since_prior_orders with the mean or average with the python above

## question 7

In [277]:
df_ords_dups = df_ords[df_ords.duplicated()]

In [281]:
df_ords_dups # no duplicates

Empty DataFrame
Columns: [order_id, user_id, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [288]:
df_ords_dups = df_orders_cleaned[df_orders_cleaned.duplicated()]

In [289]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

#### no duplicates where found but if they had I would of removed them

# question 8 - no duplicats found

# exporting

In [297]:
df_orders_cleaned.to_csv(os.path.join(path,'4.4_departments', 'Prepared Data', 'Orders_cleaned.csv'))