# Importing Data

In [3]:
# import libraries
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\Oa\Career Foundry\Data'

In [5]:
vars_list = ['user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'add_to_cart_order', 'reordered']

In [6]:
df_prods = pd.read_csv(os.path.join(path, 'Original', 'products.csv'), index_col = False)

In [7]:
orders_products_combineds = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [8]:
orders_products_combineds.drop('_merge', axis=1, inplace=True)

In [11]:
orders_products_combineds.shape

(32434489, 9)

# Exploring Data

In [11]:
orders_products_combineds.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
df_prods.shape

(49693, 5)

In [12]:
# Filter the DataFrame to get rows where the 'prices' column is 99999.0
filtered_df =df_prods[df_prods['prices'] == 99999.0]

# Display the filtered DataFrame
filtered_df

       product_id           product_name  aisle_id  department_id   prices
33666       33664  2 % Reduced Fat  Milk        84             16  99999.0

# Mergering Data

In [17]:
df_merged_prods = orders_products_combineds.merge(df_prods, on = 'product_id', indicator = True)

# Exporting Data

In [19]:
df_merged_prods.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merged.pkl'))

In [2]:
# Filter the DataFrame to get rows where the 'prices' column is 99999.0
filtered_df = df_merged_prods[df_merged_prods['prices'] == 99999.0]

# Display the filtered DataFrame
filtered_df

NameError: name 'df_merged_prods' is not defined