# Upload

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Oa\Career Foundry\Data'

In [4]:
df_prods = pd.read_csv(os.path.join(path, 'Original', 'products.csv'), index_col = False)

In [3]:
df_ords_prior= pd.read_csv(os.path.join(path, 'Original', 'orders_products_prior.csv'), index_col = False)

In [4]:
df_deps = pd.read_csv(os.path.join(path, 'Original', 'departments.csv'), index_col = False)

In [5]:
df_ords = pd.read_csv(os.path.join(path, 'Original', 'orders.csv'), index_col = False)

In [8]:
df_ords_wrn = pd.read_csv(os.path.join(path,'Prepared Data', 'Orders_Wrangled.csv'), index_col = False)

# Lesson

In [9]:
df_ords_prior.shape

(32434489, 4)

In [28]:
# Define a dictionary containing January 2020 data
data1 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
    'purchased_meat':[0, 13, 3, 4],
    'purchased_alcohol':[1, 2, 10, 0],
    'purchased_snacks':[10, 5, 1, 7]}

In [29]:
# Define a dictionary containing February 2020 data
data2 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Feb-20', 'Feb-20', 'Feb-20', 'Feb-20'],
    'purchased_meat':[0, 10, 5, 3],
    'purchased_alcohol':[2, 4, 14, 0],
    'purchased_snacks':[15, 3, 2, 6]}

In [30]:
#Convert the dictionary into dataframe
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
df_1 = pd.DataFrame(data2,index=[0, 1, 2, 3])

In [34]:
frames = [df, df_1]
df_concat = pd.concat(frames)

In [36]:
df_concat

  customer_id   month  purchased_meat  purchased_alcohol  purchased_snacks
0        6732  Jan-20               0                  1                10
1         767  Jan-20              13                  2                 5
2         890  Jan-20               3                 10                 1
3         635  Jan-20               4                  0                 7
0        6732  Feb-20               0                  2                15
1         767  Feb-20              10                  4                 3
2         890  Feb-20               5                 14                 2
3         635  Feb-20               3                  0                 6

In [38]:
df_concat = pd.concat(frames, axis = 1)

In [44]:
data3 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
    'days_purchased_on':[0, 10, 4, 1]}

In [46]:
df_2 = pd.DataFrame(data3,index=[0, 1, 2, 3])

In [50]:
df_merged = df.merge(df_2, on = 'customer_id')

In [52]:
df_merged

,customer_id,month_x,purchased_meat,purchased_alcohol,purchased_snacks,month_y,days_purchased_on
0,6732,Jan-20,0,1,10,Jan-20,0
1,767,Jan-20,13,2,5,Jan-20,10
2,890,Jan-20,3,10,1,Jan-20,4
3,635,Jan-20,4,0,7,Jan-20,1

In [54]:
df_merged = df.merge(df_2, on = ['customer_id', 'month'], indicator = True)

In [56]:
# Test merge without overwriting
pd.merge(df,df_2, on = ['customer_id', 'month'], indicator = True)

,customer_id,month,purchased_meat,purchased_alcohol,purchased_snacks,days_purchased_on,_merge
0,6732,Jan-20,0,1,10,0,both
1,767,Jan-20,13,2,5,10,both
2,890,Jan-20,3,10,1,4,both
3,635,Jan-20,4,0,7,1,both

In [85]:
#checking data

df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [87]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [9]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [13]:
df_merged_large.shape

(32434489, 10)